<div class="template">
  <div class="row">
    <div class="col-md-4">
      <img src="{{(player | async)?.picture}}" alt="{{(player | async)?.name}}">
    </div>
    <div class="col-md-8">
      <h1>{{(player | async)?.name}}, {{(player | async)?.year}}</h1>
      <h1>{{(player | async)?.role}}</h1>
      <h2>Height: {{(player | async)?.height}}, Weight: {{(player | async)?.weight}} lbs</h2>
    </div>
  </div>
  <div class="row">
    <h1 class="games">Games: {{(player | async)?.games}}</h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h3>Points: {{(player | async)?.points}}</h3>
    </div>
    <div class="col-md-2">
      <h3>Assists: {{(player | async)?.assists}}</h3>
    </div>
    <div class="col-md-2">
      <h3>Rebounds: {{(player | async)?.rebounds}}</h3>
    </div>
    <div class="col-md-2">
      <h3>Blocks: {{(player | async)?.blocks}}</h3>
    </div>
    <div class="col-md-2">
      <h3>Steals: {{(player | async)?.steals}}</h3>
    </div>
    <div class="col-md-2">
      <h3>Turnovers: {{(player | async)?.turnovers}}</h3>
    </div>
  </div>
</div>
