<div class="row">
  <div class="col-md-4">
      <h3><button (click)="addPlayer()">Add Player To Roster</button></h3>
  </div>
  <div class="col-md-6">
      <ul *ngFor="let player of playerRoster | async">
        <li>{{player.name}} - <button (click)="editPlayer(player.$key)">Edit</button><button (click)="deletePlayer(player.$key)">Delete</button></li>
      </ul>
  </div>
  <!-- <div class="col-md-2">
      <h3><button (click)="addPlayer()">Add Player To Roster</button></h3>
  </div> -->
</div>
